<div class="content">
  <div class="header">
    {{ticket.contact.fullName}}
  </div>
  <div class="meta">
    {{ticket.priority.name}}
    {{ticket.priority.id}}
  </div>
  <div class="description">
    {{ticket.title}}
  </div>
</div>
<div class="extra content">
  <div class="ui three buttons">
    <div {{action "setHighPriority"}} class="ui basic blue button">High</div>
    <div class="ui basic green button">Medium</div>
    <div class="ui basic olive button">Low</div>
  </div>
</div>
