{{#if model.length}}
  <div class="ui cards">
    {{#each model as |ticket|}}
      <div class="card">
        <div class="content">
          <div class="header">
            {{ticket.contact.fullName}}
          </div>
          <div class="description">
            {{ticket.title}}
          </div>
        </div>
        <div class="extra content">
          <div class="ui three buttons">
            <div class="ui basic blue button">High</div>
            <div class="ui basic green button">Medium</div>
            <div class="ui basic olive button">Low</div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th>
          Number
        </th>
        <th>
          Priority
        </th>
        <th>
          Title
        </th>
        <th>
          User
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |ticket|}}
        <tr>
          <td>
            {{ticket.id}}
          </td>
          <td>
            {{ticket.priority}}
          </td>
          <td>
            {{ticket.title}}
          </td>
          <td>
            {{ticket.username}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Tickets found
  </p>
{{/if}}
